# Configurações do Banco de Dados PostgreSQL
# Copie este arquivo para .env e configure as variáveis conforme necessário

DB_HOST=tramway.proxy.rlwy.net
DB_PORT=36869
DB_NAME=railway
DB_USER=postgres
DB_PASSWORD=vanYmOoqXBjWNJkJszijhShyUdQJMWVx

# Configurações de Email
EMAIL_SENDER=seu-email@gmail.com
EMAIL_PASSWORD=sua-senha-de-app
EMAIL_SMTP=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SUPERVISOR=supervisor@empresa.com

# Outras variáveis de ambiente que podem ser necessárias
# SECRET_KEY=your-secret-key-here
# DEBUG=False
# ENVIRONMENT=production
