# Configurações do Banco de Dados PostgreSQL
# Copie este arquivo para .env e configure as variáveis conforme necessário

DB_HOST=tramway.proxy.rlwy.net
DB_PORT=36869
DB_NAME=railway
DB_USER=postgres
DB_PASSWORD=vanYmOoqXBjWNJkJszijhShyUdQJMWVx

# Outras variáveis de ambiente que podem ser necessárias
# SECRET_KEY=your-secret-key-here
# DEBUG=False
# ENVIRONMENT=production
